doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
  body
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
    table
      tbody
        - for(var y = 0; y < 8; y++)
          tr
            - for(var x = 0; x < 8; x++)
              td(data-x=x data-y=y class=((x+y)%2) ? 'valid' : '')
